html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #282829;
	font-family: "Prata", serif;	
	font-weight: 300;
	font-style: normal;	
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
	font-size: 0;	
}

button {
	color: inherit;
	font-size: inherit;
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: inherit;
	padding: 0;
}

p, h1,h2,h3, span, a {
	color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 1220px;
	padding: 0 10px;	
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.col {
	margin: 10px;
	box-sizing: border-box;	
}


.header {
	background-color: #282829;
}

.header__nav {	
	display: flex;
	flex-wrap: wrap;	
	align-items: center;		
}

.header__logo {
	display: inline-block;	
	padding: 20px 80px 15px 0;
}

.header__menu {
	display: inline-block;		
}

.header__menu-item {	
	font-size: 14px;
	display: inline;
    padding-right: 20px;
	font-style: italic;	
	text-transform: uppercase;	
}

.header__menu-link {	
	text-decoration: none;
	color: #fff;
}

.header__menu-link:hover {	
	color: #ffff00;
}

.header__block {
	justify-content: space-between;
	align-items: center;
}

.header__text {
	width: 50%;	
	
}

.header__zdanie {
	display: inline-block;
	width: 42%;
}

/* .header__zdanie-img { */
	/* margin-top: -90px;	 */
/* } */

.h1 {
	font-size: 60px;
	font-weight: normal;
	color: #fff;
	line-height: 120%;
	padding-top: 10px;	
}

.h2 {
	font-size: 35px;
	font-weight: normal;
	color: #fff;
	padding-top: 10px;	
}

h3, .h3 {
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	padding: 5px 0px;
	line-height: 120%;	
}

.fontX2 {
	font-size: 25px;
}

.mr10 {
	height: 10px;
}

.mr15 {
	height: 15px;
}

.mr20 {
	height: 20px;
}

.mr30 {
	height: 30px;
}

.galochka::before {
  content: url(../img/galochka.png);
  margin-right: 10px;
  width: 39px;
  height: 37px;
  vertical-align: middle;
}

.main-btn {
    background-color: #fff;
    border: none;
	border-radius: 3px;
    color: #000;
    padding: 15px 36px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;
}

.main-btn:hover {
    background-color: #ffff00;
    color: #000;
}


.contents {
	background: url(../img/fon1.jpg) no-repeat center;
	text-align: center;
    background-color: #282829;
	margin-top: 100px;
}

.contents__texts {
	width: 40%;
	margin: 0 auto;
	min-height: 724px;
	padding: 20px 20px 50px 20px;
    background-color: #282829;
    vertical-align: middle;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;	
}

.main-btn2 {
    background-color: #fff;
	width: 100%;	
    border: none;
	border-radius: 3px;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px; 	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight: bold;	
}

.main-btn2:hover {
    background-color: #ffff00;
    color: #000;
}

.contents__texts-p {
	font-size: 17px;
	margin: 0 auto;
	padding: 0 10px;
    color: #fff;
	text-align: left;
    flex-wrap: nowrap;	
	border-bottom: 1px solid #55565A;
}

.galochka2::before {
  content: url(../img/galochka2.png);
  width: 58px;
  height: 47px;
  vertical-align: middle;
  display: block;
}

.contacts {
    background-color: #282829;
	margin-top: 100px;	
}

.contacts__content {
	max-width: 1200px;	
    background-color: #fff;	
	border-radius: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;	
}

.contacts__content-form {
	width: 55%;
	margin-left: 50px;
}

.contacts__content-img {
	width: 30%;
	margin-top: -50px;
	margin-right: 30px;
	margin-bottom: 0;
}

.cotacts__title {
	font-size: 32px;
	color: #38535D;
}

.contacts__input {
	display: block;
	width: 90%;
	margin: 10px 0;
	padding: 10px;
	font-size: 18px;
}

.contacts__input:focus {
    background-color: #fffdb7;		
}

.contacts__checkbox {
	margin-top: 20px;
}

.checkbox-check {
	width: 14px; 
	height: 14px;
}

.checkbox-text {
	font-size: 15px;
	color: #999;
	margin-left: 5px;
	vertical-align: middle;	
}

.contacts__button {
    background-color: #000;
	width: 90%;	
    border: none;
	border-radius: 3px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px; 	
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
	font-weight: normal;	
}

.contacts__button:hover {
    background-color: #ffff00;
	color: #000;	
}

.menu__footer {
	border-top: 2px solid #D5C9BE;
	border-bottom: 2px solid #D5C9BE;	
	margin: 70px auto 30px auto;	
}

.menu__footer-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
    padding: 10px 0;	
}

.menu__footer-item {	
	font-size: 15px;
	display: inline;
    padding: 20px;
	font-style: italic;	
	text-transform: uppercase;	
}

.menu__footer-link {	
	text-decoration: none;
	color: #fff;
}

.menu__footer-link:hover {	
	color: #ffff00;
}

.footer-top {
	padding: 10px 20px;	
	justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-top__social-img {
	width: 32px;
	height: 32px;
	margin: 0 5px;
	display: inline-block;
}

.footer-bottom {
	font-size: 15px;
	padding: 10px 20px 20px 20px;
	color: #D5C9BE;	
	justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-bottom__privacy a, .footer-bottom__termsofuse a {
	color: #D5C9BE;	
} 

.footer-bottom__privacy a:hover, .footer-bottom__termsofuse a:hover {
	color: #ffff00;	
} 

@media screen and (max-width: 992px){

.contents__texts {
	width: 60%;
}

.contacts__content-form {
	width: 50%;
	margin-left: 30px;
}

.contacts__content-img {
	width: 35%;
	margin-top: -30px;
}

}

@media screen and (max-width: 875px){

.h1 {
	font-size: 36px;	
}

.h2 {
	font-size: 26px;
}

}

@media screen and (max-width: 798px){

.h1 {
	font-size: 32px;	
}

.h2 {
	font-size: 24px;
}

.contacts__content-form {
	width: 45%;
	margin-left: 30px;
}

.contacts__content-img {
	width: 40%;
	margin-top: -30px;
}

}

@media screen and (max-width: 700px){

.h1 {
	font-size: 26px;	
}

.h2 {
	font-size: 20px;
}

.h2 {
	font-size: 18px;
}

.h3 {
	font-size: 16px;
}

.contents__texts {
	width: 80%;
}

.contacts__content-form {
	width: 80%;
	margin: 20px;
}

.contacts__content-img {
display: none;
}

.fontX2 {
	font-size: 20px;
}

.contacts__input {
	display: block;
	width: 100%;
	font-size: 16px;
}

.contacts__button {
	width: 100%;
    font-size: 16px;	
}

.header__logo {
	display: block;	
	padding: 20px;
	margin: 0 auto;
}

.header__menu {
	display: block;
	padding: 10px;
	margin: 0 auto;	
}

.contents {
	background: none;
    background-color: #282829;
	margin-top: 50px;
}

.contents__texts {
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	min-height: 500px;
}

.contents__texts-p {
	font-size: 15px;
}

.main-btn2 {
    background-color: #fff;
	width: 100%;	
    margin-top: 10px; 	
    font-size: 15px;
}

.footer-top__order {
	display: block;
	margin: 10px auto;
	text-align: center;		
}

}

@media screen and (max-width: 600px){

.header__text {
	width: 100%;
	text-align: center;
}

.header__zdanie {
	display: none;
}

.contents {
	margin-top: 10px;
}

.contents__texts {
	width: 95%;
	margin: 0 auto;
	padding: 10px;
	min-height: 300px;
}

.contacts {
	margin-top: 50px;	
}

.menu__footer {
	border-top: 1px solid #D5C9BE;
	border-bottom: 1px solid #D5C9BE;	
	margin: 40px auto;	
}

.menu__footer-list {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

.menu__footer-item {	
	font-size: 13px;
	display: block;
	padding: 10px;
}

.footer-top {
	text-align: center;
}

.footer-top__logo {
	display: block;
	width: 100%;	
	margin: 10px auto;
	text-align: center;	
}

.footer-top__logo-img {
	margin: 0 auto;
	text-align: center;	
}

.footer-top__social {
	display: block;
	width: 100%;
	margin: 10px auto;
	text-align: center;	
}

.footer-bottom {
	display: block;
	margin: 0 auto;
	padding: 0 10px 20px 10px;
	text-align: center;	
}

}